[tools]
go = "1.25"
bun = "1.3.4"

[tasks]
deps = "bun install"

build-css = "bunx tailwindcss -c tailwind.config.js -i ./assets/input.css -o ./static/css/output.css --minify --watch"

build-templ = "go tool templ generate --watch --proxy='http://localhost:3000' --cmd='go run .'"

run = "go run . 2>&1 | tee -a app.log"

[tasks.dev]
description = "Runs a dev server"
run = [
    { tasks = ["build-css", "build-templ"] }
]
raw = true

[tasks.build]
description = "Cuts a build"
run = [
    "go tool templ generate",
    "bunx tailwindcss -i ./assets/input.css -o ./static/css/output.css --minify",
    "go build -o ./bin/app ."
]
